body{
    background-color:white;
    color: rgb(44, 42, 42);
    font-family: 'Lato', sans-serif;
}

div{
    display: inline-block;
    width: 49%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}