body{
    background-color:white;
    color: rgb(44, 42, 42);
    font-family: 'Lato', sans-serif;
}

div{ /*div da foto estrogonofe*/
    display: inline-block;
    width: 39%;
    margin-left: 90px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}
